html {

}
body {
    background-image:linear-gradient(to right, lightblue, lightyellow, lightyellow, lightblue);
    height:100%;
    text-align:center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:14pt;
}
h1 {

}
.instruction {

}
h4 {
    font-size:18pt;
}
h4, .center {
    text-align:center;
}
.code {
    text-align:left;
    background-color:lightgray;
    border: 2px solid black;
    font-family:Courier;
    border-radius:10px;
    width:80%;
    padding:30px;
    margin:auto;
    overflow:scroll;
    white-space: nowrap;
    font-size:12pt;
}
#my_address {
}
.note {
    font-size:10pt;
    font-style:italic;
}
#finishedtx {
    width:80%;
    word-wrap:break-word;
    text-align:center;
    color:green;
    margin:auto;
    background-color:lightgray;
    padding:30px;
    border-radius:10px;
}
